body {
font-family: 'Arial', sans-serif;
margin: 0;
padding: 0;
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
background: url('fondo.jpg');
background-size: cover;
color: #000000; 
}
/*Para el texto de la categoria*/
#categoria{
display: block;
text-align: center;
}

/*Parte de la pregunta*/
#pregunta{
display: block;
text-align: justify;
}

#opciones{
display: block;
}


#respuesta{
display: none;
text-align: center;
margin: 5px;
}

/*Parte del div principal, donde se contiene todo el juego*/
#app {
background-color: rgba(255, 255, 255, 0.8); 
padding: 20px;
border-radius: 8px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
width: 50%;
}

/* La clase de los botones de las opciones */
.option {
display: block;
margin: 10px;
padding: 15px 20px; 
background-color: #9273e9; 
color: #fff; 
border: 1px solid #9273e9; 
border-radius: 5px;
cursor: pointer;
font-size: 16px; 
transition: background-color 0.3s ease, box-shadow 0.3s ease;
animation: fadeInUp 0.5s ease; 
}

@keyframes fadeInUp {
from {
    opacity: 0;
    transform: translateY(10px);
}
to {
    opacity: 1;
    transform: translateY(0);
}
}

.option:hover {
background-color: #784fdf; /* Cambio de color al pasar el ratón por encima */
}
#botonSiguiente {
display: none;
margin: 10px;
padding: 10px 20px;
background-color: #9273e9;
color: #fff; 
border: none;
border-radius: 5px;
cursor: pointer;
}

#nextButton{
display: flex;
align-items: center;
justify-content: center;
}

